body {
    background-color: hsl(223, 19%, 93%);
    font-family: rubik;
}

#mainDiv {
    margin: 250px;
}

.mainComments, .replyComments, .addComment {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
}

.plusMinusBtns/* , .iconUserDate */{ 
    /* display: inline-block; */
    float: left;
    background-color: hsl(223, 19%, 93%);
    border: hsl(223, 19%, 93%) solid;
    border-radius: 10px;
}

.voteBtn {
    background-color: hsl(223, 19%, 93%);
    border: none;
}

#plusBtn {
    padding-top: 8px;
    padding-bottom: 5px;
    margin-left: 2px;
}

#minusBtn {
    padding-bottom: 9px;
    margin-left: 2px;
}

.profileIcon {
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    margin-bottom: 0;
}

.username {
    display: inline-block;
    /* vertical-align: top; */
    /* margin-left: 10px; */
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
}

.date {
    margin-left: 10px;
    font-weight: lighter;
    color: hsl(211, 10%, 45%);
}

.voteNumber {
    text-align: center;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    margin: 5px 5px;
}

.replyBtn {
    border: white solid;
    border-radius: 8px;
    background-color: white;
    padding-top: 25px;
    padding-right: 20px;
}

.reply {
    position: absolute;
    top: 0;
    right: 0;
  }

.replyBtnText {
    color: hsl(238, 40%, 52%);
    margin-left: 5px;
    font-weight: 600;
}

.comment {
    margin-left: 40px;
}

.avatar {
    max-width: 50%;
    height: auto; 
  }

figure {
    margin-top: 0;
    margin-left: 24px;
}

.comment {
    padding-left: 15px;
}

.commentText {
    color: hsl(211, 10%, 45%);
    margin-bottom: 0;
}

.replyComments {
    width: 550px;
    margin-left: auto;
}

.tagUsername {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

/* Edit Button & Delete Button */
.editBtn, .deleteBtn {
    border: white solid;
    border-radius: 8px;
    background-color: white;
    padding-top: 25px;
    padding-right: 20px;
}

.editDelete {
    position: absolute;
    top: 0;
    right: 0;
  }

.editBtnText {
    color: hsl(238, 40%, 52%);
    margin-left: 5px;
    font-weight: 600;
}

.deleteBtnText {
    color: hsl(358, 79%, 66%);
    margin-left: 5px;
    font-weight: 600;
}

.youIcon {
    border: hsl(238, 40%, 52%) solid;
    background-color: hsl(238, 40%, 52%);
    color: white;
    font-weight: 200;
    font-size: 10px;
    border-top: 1;
    border-bottom: 1;
    margin-left: 5px;
}

.addComment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-left: 0; */
    margin: 0;
    gap: 0;
}

.profileIconInCommentBox {
    margin-right: 0;
    margin-left: 0;
}
  
.commentBoxavatar {
    width: 40px;
    height: 40px;
}

#messageInput {
    height: 100px;
    width: 450px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    color: hsl(211, 10%, 45%);
    border: hsl(228, 33%, 97%) solid;
    border-width: 1px;
    border-radius: 8px;
    font-family: rubik;
    resize: none;
}

#sendBtn {
    border: hsl(238, 40%, 52%) solid;
    border-radius: 8px;
    background-color: hsl(238, 40%, 52%);
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 13px 30px 13px 30px;
    /* border-top: 0;
    border-bottom: 1; */
    /* margin-left: 5px; */
}

.separator {
    border-left: 1px solid grey;
    height: 100%;
    margin: 0 10px;
  }

/* Hover */
button, textarea {
    cursor: pointer;
}

.replyBtn:hover, 
.editBtn:hover, 
.deleteBtn:hover, 
#sendBtn:hover {
    opacity: 0.5;
}

/* .plus-btn:hover,
.minus-btn:hover {
  opacity: 0.8;
} */

img {
    opacity: 1.0;
}
  
.plusMinusBtns button:hover img {
    opacity: 0.7;
}