body {
    background-color: hsl(223, 19%, 93%);
    font-family: rubik;
}


#mainDiv {
    margin: 250px;
}

#comment1 {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
}

.profileIcon {
    display: inline-block;
    vertical-align: top;
}

.username {
    display: inline-block;
    /* vertical-align: top; */
    /* margin-left: 10px; */
}

.date {
    margin-left: 10px;
}

.reply {
    float: right;
}

.comment {
    margin-left: 40px;
}

.avatar {
    max-width: 50%;
    height: auto; 
  }

figure {
    margin-top: 0;
    margin-left: 24px;
}

.plusMinusBtns {
    float: left;
  }
  
.voteBtn {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 0 10px;
    cursor: pointer;
}
  
.voteBtn:hover {
    background-color: #f2f2f2;
}
  
.voteNumber {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}